// --- Fonts ---
$ff-primary: 'Sora', sans-serif;
$ff-secondary: 'Poppins', sans-serif;

// --- Container ---
$container-width: 1110px;
$container-padding: 35px 0 48px;

// --- Colors ---
$color-primary: linear-gradient(141deg, #3a8ef6 0%, #6f3afa 100%); // Основний синій (Кнопки, іконки)

$color-bg-page: #f2f7ff; // Світло-блакитний фон сторінки
$color-bg-card: #ffffff; // Білий для карток
$color-shadow-card: 0 8px 23px 0 rgba(65, 132, 247, 0.24); // Тінь для карток
$color-bg-info: linear-gradient(145deg, #1678f2 0%, #65a8fb 100%); // Інформаційниі блоки, переваги

$color-text-main: #031432; // Темно-синій (Заголовки)
$color-text-body: #6c87ae; // Світло сірий (Текст опису)
$color-accent-teal: #00bfa5; // М'ятний (Dr. Matthew Anderson)
$color-btn-hover: #3a8ef6; // Header - nav

// --- Buttons ---
$btn-color: #fff;
$btn-bgcolor: $color-primary;
$btn-size: 18px;
$btn-weight: 600;
$btn-radius: 100px;
$btn-padding: 16px 28px;
$btn-shadow: 0 8px 23px 0 rgba(65, 132, 247, 0.24);

// --- Buttons (secondary)---
$btn-color-secondary: #3a8ef6;
$btn-bgcolor-secondary: #fff;
