@use 'fonts';
@use 'variables' as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: $ff-primary;
    font-weight: 400;
    font-size: 18px;
}

// --- Загальні налаштування ---
// --- Контейнер ---
.container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
}

// --- Кнопки ---
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $btn-width;
    min-height: $btn-height;
    gap: 8px;
    cursor: pointer;
    border: none;
    font-size: $btn-size;
    font-family: $ff-primary;
    font-weight: $btn-weight;
    color: $btn-color;
    background: $btn-bgcolor;
    border-radius: $btn-radius;
    padding: $btn-padding;
    box-shadow: $btn-shadow;

    &--primary {
        min-width: $btn-width-primary;
        min-height: $btn-height-primary;
    }

    &--secondary {
        color: $btn-color-secondary;
        background: $btn-bgcolor-secondary;
    }
}

// --- Заголовки та текст ---
.uptitle {
    font-family: $ff-secondary;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $color-accent-teal;
}

// --- Стилі для заголовків та тексту ---
h1 {
    margin: 0;
    color: $color-text-main;
}

h2 {
    margin: 14px 0 14px 0;
    color: $color-text-main;
    font-family: $ff-secondary;
    font-size: 32px;
    font-weight: 600;
}

h3,
p {
    margin: 0;
}

// --- Інформаційні картки ---
.info-card {
    list-style: none;
    background: $color-bg-info;
    color: $color-bg-card;
    border-radius: 12px;
}

// --- Header ---
.header {
    border-radius: 32px 32px 0 0;
    background-color: $color-bg-page;

    .container {
        padding: 32px 0 0;
    }

    &__logo {
        text-decoration: none;
        position: relative;
    }

    &__logo span {
        font-size: 32px;
        font-weight: 700;
        background: $color-bg-info;
        background-clip: text;
        color: transparent;
    }

    &__logo-ico {
        position: absolute;
        top: -5px;
        right: -25px;
        width: 30px;
        height: 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    &__menu {
        display: flex;
        list-style: none;
        gap: 40px;
        margin: 0;
        padding: 0;
    }

    &__menu-item {
        font-size: 16px;
        font-weight: 400;
    }

    &__menu-link {
        text-decoration: none;
        color: $color-text-body;
        opacity: 80%;

        &:hover {
            color: $color-btn-hover;
            opacity: 100%;
        }
    }
}

// --- Hero ---
.hero {
    padding: 100px 0 0px;
    border-radius: 0 0 32px 32px;
    background-color: $color-bg-page;

    &__inner {
        margin-bottom: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        width: 100%;
        max-width: 500px;
    }

    &__title {
        margin: 10px 0 24px;
        font-family: $ff-secondary;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
    }

    &__description {
        margin-bottom: 24px;
        color: $color-text-body;
        font-family: $ff-primary;
        font-size: 16px;
        line-height: 150%;
    }

    &__img-wrapper {
        margin-right: -110px;
    }

    &__img {
        width: 100%;
        height: auto;
        display: block;
    }

    &__benefits {
        margin: 0;
        padding: 0;
        position: relative;
        top: 44px;
        display: flex;
        justify-content: center;
        gap: 28px;
    }

    &__benefit {
        width: 258px;
        display: flex;
        padding: 8px 18px;
        gap: 12px;
        box-shadow: $color-shadow-card;

        &:nth-child(2) {
            width: 295px;
        }
    }

    &__benefit-icon {
        display: flex;
        align-items: center;
    }

    &__benefit-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__benefit-title {
        font-family: $ff-secondary;
        font-size: 18px;
        font-weight: 600;
    }

    &__benefit-description {
        font-family: $ff-primary;
        font-size: 12px;
        line-height: 140%;
        opacity: 80%;
    }
}

.about-me {
    padding: 224px 0 145px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    &__img-wrapper {
        img {
            width: 586px;
            height: auto;
            display: block;
        }
    }

    &__description {
        margin-bottom: 24px;
        color: $color-text-body;
        font-family: $ff-primary;
        font-size: 16px;
        line-height: 150%;
    }
}

.services {
    background-color: $color-bg-page;
    padding-bottom: 164px;

    &__inner {
        padding: 124px 0 112px 0;
        display: flex;
        align-items: center;
    }

    &__description {
        margin-bottom: 24px;
        color: $color-text-body;
        font-family: $ff-primary;
        font-size: 16px;
        line-height: 150%;
    }

    &__img-wrapper {
        img {
            display: block;
            width: 628px;
            height: auto;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    .service-card {
        list-style: none;
        width: calc((100% - 64px) / 3);
        height: auto;
        padding: 32px;
        border-radius: 24px;
        background-color: $color-bg-card;

        &__img-wrapper {
            display: flex;
            justify-content: center;
            width: 282px;
            height: 200px;

            img {
                width: auto;
                height: auto;
            }
        }

        &__title {
            margin-top: 24px;
            font-family: $ff-secondary;
            font-size: 24px;
            font-weight: 500;
            line-height: 88%;
        }

        &__description {
            margin: 12px 0 24px 0;
            font-family: $ff-primary;
            font-size: 14px;
            line-height: 142%;
        }

        &__cta {
            gap: 5px;
        }

        &__cta-wrapper {
            width: 24px;
            height: 24px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.reservation {
    padding: 150px 0 180px;
    &__uptitle {
        margin-bottom: 12px;
        display: flex;
        justify-content: center;
    }

    &__wrapper {
        background: $color-bg-info;
        border-radius: 32px;
        padding: 64px 100px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
    }

    &__title {
        margin: 0;
        color: #fff;
    }

    &__description {
        max-width: 650px;
        margin: 11px 0 24px;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        opacity: 80%;
    }
}

// .why-me {
//     &__video {
//         width: 1012px;
//         height: 567px;
//         aspect-ratio: 16 / 9;
//         border: none;
//         border-radius: 20px;
//         box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
//     }
// }
